<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    	<link rel="stylesheet" href="/static/About.css"/>

</head>
<body>
    <header class="header" >
        <nav class="navbar">
            <a href=Coffee_shop>Home</a>
            <a href=Menu>Menu</a>
            <a href=Login>Login</a>
            <a href=About>About</a>
        </nav>
    </header>
    <br>
    <br>
    <br>
    <section class="about" id="about">

    <div class="row">

        <div class="content">
            <p>Our Coffee Shop offers a unique coffee house environment unlike any other in the country. We are not only a place to drop in and get your morning cup of coffee (although you are more than welcome to do that), we are a place where you can sit down and enjoy that tailor-made cup of coffee.</p>
        </div>

    </div>

</section>
</body>
</html>